Documentation:
  CommentFormat: Doxygen  # 可选值：Plaintext、Markdown、Doxygen

CompileFlags:
  Add: 
    - "-I/home/komorebi/"
    - "-I/home/komorebi/cmw"
    - "-I/home/komorebi/cmw/thirdparty"
    - "-I/home/komorebi/cmw/transport"
    - "-I/home/komorebi/cmw/croutine"